extends layout

block content
    div(class="message")
        p.
            This server demonstrates <strong>FIDO U2F</strong> registration and authentication
        p.
            <strong>Register</strong> your FIDO U2F key #[a(href="/login-register") here]
        p.
            <strong>Authenticate</strong> using your registered FIDO U2F key #[a(href="/login-sign") here]
        br
        p.
            Have any questions, please reach me anytime on #[a(href="https://www.bntan.com/linkedin") LinkedIn] or at #[a(href="mailto:me@bntan.com") me@bntan.com]