extends layout

block content
    form(class="form",action="/login-register",method="POST")
        div
            center
                - var h_classes = ['h2', 'mb-2', 'font-weight-normal']
                    h2(class=h_classes) Registration
                br    
                img(src="/logo/logo.png")
        br
        if error
            p.
                #{error}
        input(type="hidden",name="challenge",value=challenge)
        input(class="form-control",type="text",id="username",name="username",placeholder="Username")
        br
        - var button_class=['btn', 'btn-lg', 'btn-primary', 'btn-block'];
        input(class=button_class,type="submit",id="submit",value="Validate")
