extends layout

block content
    script(src='/scripts/u2f-register.js', type='text/javascript')
    div(class="center")
        img(src="/logo/logo.png")
        br
        br
        p.
            You are going to register your FIDO key
        p.
            Get ready and click on validate to procceed
        br    
        - var button_class=['btn', 'btn-lg', 'btn-primary', 'btn-block'];
        button(class=button_class, onclick='register("' + username + '","' + challenge + '")') Validate